<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.humane.etms.mapper.DataMapper">
    <select id="noIdCard" resultType="com.humane.etms.dto.ExamineeDto">
        SELECT admission.admission_nm
              , attend.attend_cd
              , attend.type_nm, attend.attend_date, attend.attend_time
              , attend_manage.head_nm, attend_manage.bldg_nm
              , examinee.dept_nm, examinee.examinee_cd, examinee.examinee_nm
              , date_format(examinee.birth, '%y-%m-%d') as birth
              , attend_map.attend_dttm
              , attend_manage.id_check_dttm
          FROM attend_manage
         INNER JOIN attend ON attend_manage.attend_cd = attend.attend_cd
         INNER JOIN admission ON attend.admission_cd = admission.admission_cd
         INNER JOIN examinee ON attend_manage.examinee_cd = examinee.examinee_cd
         INNER JOIN attend_map ON attend_manage.attend_cd = attend_map.attend_cd AND attend_manage.examinee_cd = attend_map.examinee_cd
        <where>
            AND attend_manage.is_no_id_card = TRUE
            <if test="param != null">
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.typeNm != null">AND attend.type_nm = #{param.typeNm}</if>
                <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
                <if test="param.headNm != null">AND attend_manage.head_nm = #{param.headNm}</if>
                <if test="param.bldgNm != null">AND attend_manage.bldg_nm = #{param.bldgNm}</if>
                <if test="param.deptNm != null">AND examinee.dept_nm = #{param.deptNm}</if>
                <if test="param.examineeCd != null">AND examinee.examinee_cd LIKE '%' #{param.examineeCd} '%'</if>
                <if test="param.examineeNm != null">AND examinee.examinee_nm LIKE '%' #{param.examineeNm} '%'</if>
                <if test="param.userAdmissions != null">AND attend.admission_cd IN (${param.userAdmissions})</if>
                <if test="param.isAttend != null">
                    <if test="param.isAttend == true">AND attend_map.attend_hall_cd IS NOT NULL</if>
                    <if test="param.isAttend == false">AND attend_map.attend_hall_cd IS NULL</if>
                </if>
                <if test="param.isNoIdCardFilter != null">
                    <if test="param.isNoIdCardFilter == true">AND attend_manage.id_check_dttm IS NOT NULL</if>
                    <if test="param.isNoIdCardFilter == false">AND attend_manage.id_check_dttm IS NULL</if>
                </if>
            </if>
        </where>
    </select>

    <select id="examinee" resultType="com.humane.etms.dto.ExamineeDto">
        SELECT admission.admission_nm
            , attend.type_nm, attend.attend_date, attend.attend_time
            , examinee.dept_nm, examinee.major_nm, examinee.examinee_cd, examinee.examinee_nm, DATE_FORMAT(examinee.birth, '%y-%m-%d') AS birth
            , hall.head_nm, hall.bldg_nm, hall.hall_nm
            , ah.head_nm AS attend_head_nm, ah.bldg_nm AS attend_bldg_nm, ah.hall_nm AS attend_hall_nm
            , IF(attend_map.attend_hall_cd IS NULL, FALSE, TRUE) AS is_attend
            , IF(attend_map.attend_hall_cd IS NOT NULL,
                CASE attend_map.is_scanner
                    WHEN TRUE THEN TRUE
                    WHEN FALSE THEN FALSE
                    WHEN NULL THEN NULL
                END, NULL) AS is_examinee_cd_scanner
            , IF((SELECT COUNT(*) FROM attend_paper WHERE attend_map.attend_cd = attend_cd AND attend_map.examinee_cd = examinee_cd) > 1, TRUE, FALSE) AS is_change_paper
            , IF(attend_map.attend_hall_cd IS NOT NULL, (select paper_cd from attend_paper where attend_paper.attend_cd = attend_map.attend_cd and attend_paper.examinee_cd = attend_map.examinee_cd order by reg_dttm desc limit 1), NULL) as last_paper_cd
            , IF(attend_map.attend_hall_cd IS NOT NULL,
                CASE (select is_scanner from attend_paper where attend_paper.attend_cd = attend_map.attend_cd and attend_paper.examinee_cd = attend_map.examinee_cd order by reg_dttm desc limit 1)
                    WHEN TRUE THEN TRUE
                    WHEN FALSE THEN FALSE
                    WHEN NULL THEN NULL
                END, NULL) AS is_paper_cd_scanner
        -- 출력부분
            , examinee.exm_adm_nm
            , examinee.college_nm
            , now() AS printDttm
          FROM attend_map
        INNER JOIN attend ON attend_map.attend_cd = attend.attend_cd
        INNER JOIN admission ON attend.admission_cd = admission.admission_cd
        INNER JOIN examinee ON attend_map.examinee_cd = examinee.examinee_cd
        INNER JOIN hall ON attend_map.hall_cd = hall.hall_cd
         LEFT JOIN hall ah ON attend_map.attend_hall_cd = ah.hall_cd
        <where>
            <if test="param != null">
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.typeNm != null">AND attend.type_nm = #{param.typeNm}</if>
                <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
                <if test="param.examineeCd != null">AND examinee.examinee_cd LIKE '%' #{param.examineeCd} '%'</if>
                <if test="param.examineeNm != null">AND examinee.examinee_nm LIKE '%' #{param.examineeNm} '%'</if>
                <if test="param.attendHeadNm != null">AND ah.head_nm = #{param.attendHeadNm}</if>
                <if test="param.attendBldgNm != null">AND ah.bldg_nm = #{param.attendBldgNm}</if>
                <if test="param.attendHallNm != null">AND ah.hall_nm = #{param.attendHallNm}</if>
                <if test="param.headNm != null">AND hall.head_nm = #{param.headNm}</if>
                <if test="param.bldgNm != null">AND hall.bldg_nm = #{param.bldgNm}</if>
                <if test="param.hallNm != null">AND (hall.hall_nm = #{param.hallNm} OR ah.hall_nm = #{param.hallNm})</if>
                <if test="param.deptNm != null">AND examinee.dept_nm = #{param.deptNm}</if>
                <if test="param.majorNm != null">AND examinee.major_nm = #{param.majorNm}</if>
                <if test="param.lastPaperCd != null">
                    AND (SELECT paper_cd FROM attend_paper WHERE attend_cd = attend_map.attend_cd AND examinee_cd = attend_map.examinee_cd ORDER BY reg_dttm DESC LIMIT 1) = #{param.lastPaperCd}
                </if>
                <if test="param.isEtc != null">AND attend_hall.is_etc = #{param.isEtc}</if>
                <if test="param.groupNm != null">AND attend_map.group_nm = #{param.groupNm}</if>
                <if test="param.isAttend != null">
                    <if test="param.isAttend == true">AND attend_map.attend_hall_cd IS NOT NULL</if>
                    <if test="param.isAttend == false">AND attend_map.attend_hall_cd IS NULL</if>
                </if>
                <if test="param.isOtherHall != null">
                    <if test="param.isOtherHall == true">AND (attend_map.attend_hall_cd IS NOT NULL AND attend_map.attend_hall_cd != attend_map.hall_cd)</if>
                    <if test="param.isOtherHall == false">AND (attend_map.attend_hall_cd IS NOT NULL AND attend_map.attend_hall_cd = attend_map.hall_cd)</if>
                </if>
                <if test="param.isCancel != null">
                    <if test="param.isCancel == true"> AND (SELECT COUNT(*)%2 FROM attend_map_log WHERE attend_map_log.attend_cd = attend_map.attend_cd AND attend_map_log.examinee_cd = attend_map.examinee_cd) = 1 AND attend_map.is_scanner IS NOT NULL AND attend_dttm IS NULL</if>
                </if>
                <if test="param.isExamineeCdScanner != null">
                    AND attend_map.attend_hall_cd IS NOT NULL
                    <if test="param.isExamineeCdScanner == true">AND attend_map.is_scanner = 1</if>
                    <if test="param.isExamineeCdScanner == false">AND attend_map.is_scanner = 0</if>
                </if>
                <if test="param.isPaperCdScanner != null">
                    AND attend_map.attend_hall_cd IS NOT NULL
                    <if test="param.isPaperCdScanner == true">AND (select is_scanner from attend_paper where attend_paper.attend_cd = attend_map.attend_cd and attend_paper.examinee_cd = attend_map.examinee_cd order by reg_dttm desc limit 1) = TRUE </if>
                    <if test="param.isPaperCdScanner == false">AND (select is_scanner from attend_paper where attend_paper.attend_cd = attend_map.attend_cd and attend_paper.examinee_cd = attend_map.examinee_cd order by reg_dttm desc limit 1) = FALSE </if>
                </if>
                <if test="param.fromExamineeCd != null and param.toExamineeCd == null">AND attend_map.examinee_cd = #{param.fromExamineeCd}</if>
                <if test="param.fromExamineeCd == null and param.toExamineeCd != null">AND attend_map.examinee_cd = #{param.toExamineeCd}</if>
                <if test="param.fromExamineeCd != null and param.toExamineeCd != null">AND examinee.examinee_cd BETWEEN #{param.fromExamineeCd} AND #{param.toExamineeCd}</if>
                <if test="param.userAdmissions != null">AND attend.admission_cd IN (${param.userAdmissions})</if>
            </if>
        </where>
    </select>

    <select id="signature" resultType="com.humane.etms.dto.StatusDto">
            SELECT admission.admission_nm
            , attend.attend_cd, attend.type_nm, attend.attend_date, attend.attend_time
            , hall.hall_cd, hall.head_nm, hall.bldg_nm, hall.hall_nm
            , (SELECT COUNT(*) FROM attend_map WHERE attend_map.hall_cd = hall.hall_cd and attend_map.attend_cd = attend_hall.attend_cd) as attend_cnt
            , CASE WHEN attend_hall.sign_dttm IS NULL THEN 0 ELSE 1 END AS is_signature
            , attend_hall.sign_dttm, hall.is_etc
            FROM attend_hall
            INNER JOIN attend ON attend_hall.attend_cd = attend.attend_cd
            INNER JOIN admission ON attend.admission_cd = admission.admission_cd
            INNER JOIN hall ON attend_hall.hall_cd = hall.hall_cd
            <where>
                <if test="param != null">
                    <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                    <if test="param.typeNm != null">AND attend.type_nm = #{param.typeNm}</if>
                    <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                    <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
                    <if test="param.headNm != null">AND hall.head_nm = #{param.headNm}</if>
                    <if test="param.bldgNm != null">AND hall.bldg_nm = #{param.bldgNm}</if>
                    <if test="param.hallNm != null">AND hall.hall_nm = #{param.hallNm}</if>
                    <if test="param.isEtc != null">
                        <if test="param.isEtc == true">AND hall.is_etc = TRUE</if>
                        <if test="param.isEtc == false">AND hall.is_etc = FALSE</if>
                    </if>
                    <if test="param.isSignature != null">
                        <if test="param.isSignature == true">AND attend_hall.sign_dttm IS NOT NULL</if>
                        <if test="param.isSignature == false">AND attend_hall.sign_dttm IS NULL</if>
                    </if>
                    <if test="param.userAdmissions != null">AND attend.admission_cd IN (${param.userAdmissions})</if>
                </if>
            </where>
    </select>

    <select id="paper" resultType="com.humane.etms.dto.StatusDto">
        SELECT admission.admission_nm
            , attend.type_nm, attend.attend_date, attend.attend_time
            , examinee.dept_nm, examinee.major_nm, examinee.examinee_cd, examinee.examinee_nm, date_format(examinee.birth, '%y-%m-%d') as birth
            , a.paper_cnt, a.first_paper_cd, a.last_paper_cd, a.paper_list
        FROM ( SELECT attend_cd, examinee_cd, hall_cd
                    , COUNT(*) AS paper_cnt
                    , (SELECT paper_cd FROM attend_paper_log a WHERE a.attend_cd = attend_paper_log.attend_cd AND a.examinee_cd = attend_paper_log.examinee_cd ORDER BY a.reg_dttm ASC LIMIT 1) AS first_paper_cd
                    , (SELECT paper_cd FROM attend_paper_log a WHERE a.attend_cd = attend_paper_log.attend_cd AND a.examinee_cd = attend_paper_log.examinee_cd ORDER BY a.reg_dttm DESC LIMIT 1) AS last_paper_cd
                    , GROUP_CONCAT(paper_cd ORDER BY reg_dttm SEPARATOR ',') AS paper_list
                    , MAX(reg_dttm) AS reg_dttm
                    FROM attend_paper_log
                    WHERE attend_paper_log.new_paper_cd is null
                    GROUP BY attend_cd, examinee_cd, hall_cd HAVING COUNT(*) > 1) a
        INNER JOIN attend ON a.attend_cd = attend.attend_cd
        INNER JOIN admission ON attend.admission_cd = admission.admission_cd
        INNER JOIN examinee ON a.examinee_cd = examinee.examinee_cd
        INNER JOIN hall ON a.hall_cd = hall.hall_cd
        <where>
            <if test="param != null">
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.attendCd != null">AND attend.attend_cd = #{param.attendCd}</if>
                <if test="param.typeNm != null">AND attend.type_nm = #{param.typeNm}</if>
                <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
                <if test="param.deptNm != null">AND examinee.dept_nm = #{param.deptNm}</if>
                <if test="param.majorNm != null">AND examinee.major_nm = #{param.majorNm}</if>
                <if test="param.examineeCd != null">AND examinee.examinee_cd LIKE '%' #{param.examineeCd} '%'</if>
                <if test="param.examineeNm != null">AND examinee.examinee_nm LIKE '%' #{param.examineeNm} '%'</if>
                <if test="param.paperCd != null">AND a.paper_list LIKE '%' #{param.paperCd} '%'</if>
                <if test="param.headNm != null">AND hall.head_nm = #{param.headNm}</if>
                <if test="param.bldgNm != null">AND hall.bldg_nm = #{param.bldgNm}</if>
                <if test="param.hallCd != null">AND hall.hall_cd = #{param.hallCd}</if>
                <if test="param.hallNm != null">AND hall.hall_nm = #{param.hallNm}</if>
                <if test="param.userAdmissions != null">AND attend.admission_cd IN (${param.userAdmissions})</if>
            </if>
        </where>
    </select>

    <select id="detail" resultType="com.humane.etms.dto.StatusDto">
        SELECT
        examinee.examinee_cd,
        examinee.examinee_nm,
        examinee.dept_nm,
        hall.bldg_nm,
        hall.hall_nm,
        attend_paper.paper_cd,
        attend_paper.paper_no,
        concat(attend.attend_date,' ',attend.attend_time) as attend_d_t,
        attend_paper.reg_dttm
        FROM attend_paper
        INNER JOIN attend ON attend.attend_cd = attend_paper.attend_cd
        INNER JOIN hall ON hall.hall_cd = attend_paper.hall_cd
        INNER JOIN examinee ON examinee.examinee_cd = attend_paper.examinee_cd
        <where>
            <if test="param!=null">
                <if test="param.examineeCd != null">examinee.examinee_cd = #{param.examineeCd}</if>
                <if test="param.userAdmissions != null">AND attend.admission_cd IN (${param.userAdmissions})</if>
            </if>
        </where>
    </select>

    <update id="checkIdCard">
        UPDATE attend_manage
           SET id_check_dttm = #{idCheckDttm}
         WHERE examinee_cd = #{examineeCd} and attend_cd = #{attendCd}
    </update>

    <!--<update id="recheck">
        UPDATE attend_map
        SET recheck_dttm = #{recheckDttm}
        WHERE examinee_cd = #{examineeCd} and attend_cd = #{attendCd}
    </update>-->

    <select id="sendPaperInfo" resultType="com.humane.etms.dto.ExamineeDto">
        SELECT examinee.examinee_cd, examinee.examinee_nm
             , IF(attend_map.attend_hall_cd is not null, 'N', 'Y') as attendYn
             , attend.attend_date
             , attend.attend_time
             , (SELECT attend_paper.paper_cd
                  FROM attend_paper
                 WHERE attend_paper.attend_cd = attend_map.attend_cd
                   AND attend_paper.examinee_cd = attend_map.examinee_cd
                   AND attend_map.attend_hall_cd IS NOT NULL
                 ORDER BY attend_paper.reg_dttm DESC
                 LIMIT 1
                ) as paper_cd
             , (select univ_hall_cd from attend_hall where hall_cd=attend_map.hall_cd and attend_cd = attend_map.attend_cd) as hall_cd
             , h1.hall_nm
             , (select univ_hall_cd from attend_hall where hall_cd=attend_map.attend_hall_cd and attend_cd = attend_map.attend_cd) as attend_hall_cd
             , h2.hall_nm as attend_hall_nm
          FROM attend_map
         INNER JOIN attend ON attend.attend_cd = attend_map.attend_cd and attend.paper_cnt > 0
         INNER JOIN admission ON admission.admission_cd = attend.admission_cd
         INNER JOIN examinee ON attend_map.examinee_cd = examinee.examinee_cd
         INNER JOIN hall h1 ON attend_map.hall_cd = h1.hall_cd
          LEFT JOIN hall h2 ON attend_map.attend_hall_cd = h2.hall_cd
        <where>
            <if test="param!=null">
                <if test="param.userAdmissions != null">AND attend.admission_cd IN (${param.userAdmissions})</if>
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
            </if>
        </where>
    </select>

    <select id="cancelAttend" resultType="com.humane.etms.dto.ExamineeDto">
        select admission.admission_nm, attend.type_nm
              , examinee.dept_nm, examinee.major_nm
              , examinee.examinee_cd, examinee.examinee_nm, examinee.birth
              , hall.head_nm, hall.bldg_nm, hall.hall_nm,
              (SELECT attend_paper.paper_cd
              FROM attend_paper
              WHERE attend_paper.attend_cd = attend_map.attend_cd
                AND attend_paper.examinee_cd = attend_map.examinee_cd
              ORDER BY attend_paper.reg_dttm DESC
              LIMIT 1
               ) as last_paper_cd
                , attend_map.attend_dttm
        from attend_map
        inner join attend on attend.attend_cd = attend_map.attend_cd
        inner join hall on hall.hall_cd = attend_map.hall_cd
        inner join admission on admission.admission_cd = attend.admission_cd
        inner join examinee on examinee.examinee_cd = attend_map.examinee_cd
        left join attend_paper on attend_paper.examinee_cd = attend_map.examinee_cd and attend_map.attend_cd = attend_paper.attend_cd
        <where> and attend_map.attend_dttm is null and attend_paper.paper_cd is not null
            <if test="param!=null">
                <if test="param.userAdmissions != null">AND attend.admission_cd IN (${param.userAdmissions})</if>
            </if>
        </where>
    </select>
    <select id="sqlEdit" resultType="java.util.LinkedHashMap">
        ${sql}
    </select>
    <select id="attachment" resultType="com.humane.etms.dto.DocDto">
        SELECT admission.admission_nm, attend_doc.title, attend_doc.content, attend_doc.sign_date, attend_doc.sign
              , examinee.examinee_cd, examinee.examinee_nm, examinee.dept_nm
        FROM attend_manage
        INNER JOIN attend ON attend.attend_cd = attend_manage.attend_cd
        INNER JOIN admission ON admission.admission_cd = attend.admission_cd
        INNER JOIN examinee ON examinee.examinee_cd = attend_manage.examinee_cd
        INNER JOIN attend_doc ON attend_doc.admission_cd = attend.admission_cd
        <where>
            <if test="param != null">
                <if test="param.userAdmissions != null">AND attend.admission_cd IN (${param.userAdmissions})</if>
                <if test="param.admissionNm != null">AND admission.admission_nm =  #{param.admissionNm}</if>
                <if test="param.attendDate != null">AND attend.attend_date = STR_TO_DATE(#{param.attendDate}, '%Y-%m-%d')</if>
                <if test="param.attendTime != null">AND attend.attend_time = #{param.attendTime}</if>
            </if>
        </where>
    </select>
</mapper>