<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.humane.etms.mapper.DataMapper">
    <select id="examinee" resultType="com.humane.etms.dto.ExamineeDto">
        SELECT
        admission.admission_nm, attend.type_nm,
        attend.attend_date, attend.attend_time,
        examinee.college_nm,
        examinee.examinee_cd, examinee.examinee_nm,
        date_format(examinee.birth, '%y-%m-%d') as birth, examinee.major_nm, examinee.dept_nm,
        CASE WHEN attend_hall.hall_cd IS NULL THEN false
        ELSE true
        END AS is_attend,
        hall.head_nm, hall.bldg_nm, hall.hall_cd, hall.hall_nm,
        attend_hall.head_nm AS attend_head_nm,
        attend_hall.bldg_nm AS attend_bldg_nm,
        attend_hall.hall_cd AS attend_hall_cd,
        attend_hall.hall_nm AS attend_hall_nm,
        attend_hall.is_etc,
        attend_map.is_check,
        CASE WHEN attend_map.attend_hall_cd IS NULL THEN NULL
        WHEN attend_map.attend_hall_cd != attend_map.hall_cd THEN true
        ELSE false
        END AS is_other_hall,
        attend_map.attend_dttm,
        attend_map.id_check_dttm,
        attend_map.recheck_dttm,
        (SELECT paper_cd FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
        attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 1 ORDER BY reg_dttm DESC LIMIT 1)
        AS last_paper_cd,
        CASE WHEN (SELECT COUNT(*) FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
        attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 1) > 1 THEN 1 ELSE 0 END AS is_change_paper,
        now() AS print_dttm
        FROM
        attend_map
        INNER JOIN attend ON attend.attend_cd = attend_map.attend_cd
        INNER JOIN admission ON admission.admission_cd = attend.admission_cd
        INNER JOIN hall ON hall.hall_cd = attend_map.hall_cd
        INNER JOIN examinee ON examinee.examinee_cd = attend_map.examinee_cd
        LEFT JOIN hall attend_hall ON attend_hall.hall_cd = attend_map.attend_hall_cd
        <where>
            <if test="param != null">
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.typeNm != null">AND attend.type_nm = #{param.typeNm}</if>
                <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
                <if test="param.examineeCd != null">AND examinee.examinee_cd LIKE '%' #{param.examineeCd} '%'</if>
                <if test="param.examineeNm != null">AND examinee.examinee_nm LIKE '%' #{param.examineeNm} '%'</if>
                <if test="param.attendHeadNm != null">AND attend_hall.head_nm = #{param.attendHeadNm}</if>
                <if test="param.attendBldgNm != null">AND attend_hall.bldg_nm = #{param.attendBldgNm}</if>
                <if test="param.attendHallNm != null">AND attend_hall.hall_nm = #{param.attendHallNm}</if>
                <if test="param.headNm != null">AND hall.head_nm = #{param.headNm}</if>
                <if test="param.deptNm != null">AND examinee.dept_nm = #{param.deptNm}</if>
                <if test="param.majorNm != null">AND examinee.major_nm = #{param.majorNm}</if>
                <if test="param.bldgNm != null">AND hall.bldg_nm = #{param.bldgNm}</if>
                <!--<if test="param.hallNm != null">AND hall.hall_nm = #{param.hallNm}</if>-->
                <if test="param.hallNm != null">
                    AND
                        (hall.hall_nm = #{param.hallNm} OR attend_hall.hall_nm = #{param.hallNm})
                        AND(attend_hall.hall_nm IS NULL OR attend_hall.hall_nm = #{param.hallNm})
                </if>
                <if test="param.attendNm != null">AND attend.attend_nm = #{param.attendNm}</if>
                <if test="param.isEtc != null">AND attend_hall.is_etc = #{param.isEtc}</if>
                <if test="param.groupNm != null">AND attend_map.group_nm = #{param.groupNm}</if>
                <if test="param.isAttend != null">
                    <if test="param.isAttend == true">AND attend_map.attend_hall_cd IS NOT NULL</if>
                    <if test="param.isAttend == false">AND attend_map.attend_hall_cd IS NULL</if>
                </if>
                <if test="param.isOtherHall != null">
                    <if test="param.isOtherHall == true">AND (attend_map.attend_hall_cd IS NOT NULL AND
                        attend_map.attend_hall_cd != attend_map.hall_cd)
                    </if>
                    <if test="param.isOtherHall == false">AND (attend_map.attend_hall_cd IS NOT NULL AND
                        attend_map.attend_hall_cd = attend_map.hall_cd)
                    </if>
                </if>
                <if test="param.fromExamineeCd != null and param.toExamineeCd == null">AND attend_map.examinee_cd =
                    #{param.fromExamineeCd}
                </if>
                <if test="param.fromExamineeCd == null and param.toExamineeCd != null">AND attend_map.examinee_cd =
                    #{param.toExamineeCd}
                </if>
                <if test="param.fromExamineeCd != null and param.toExamineeCd != null">
                    AND examinee.examinee_cd BETWEEN #{param.fromExamineeCd} AND #{param.toExamineeCd}
                </if>
                <if test="param.isNoIdCard != null">AND attend_map.is_no_id_card = #{param.isNoIdCard}</if>
                <if test="param.isCheck != null">AND attend_map.is_check = #{param.isCheck}</if>
                <if test="param.userAdmissions != null">
                    AND attend.admission_cd IN
                    <foreach collection="param.userAdmissions" item="item" index="index" separator="," open="(" close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
        </where>
        GROUP BY
        examinee.examinee_cd, examinee.examinee_nm, examinee.birth,
        admission.admission_nm, attend.type_nm, attend.attend_date, attend.attend_time,
        examinee.major_nm, examinee.dept_nm,
        hall.head_nm, hall.bldg_nm, hall.hall_nm,
        attend_head_nm, attend_bldg_nm, attend_hall_nm, is_attend,
        attend_hall.is_etc, attend_map.is_check, is_other_hall, attend_map.attend_dttm
    </select>

    <select id="signature" resultType="com.humane.etms.dto.StatusDto">
            SELECT admission.admission_nm
            , attend.attend_cd, attend.type_nm, attend.attend_date, attend.attend_time
            , hall.hall_cd, hall.head_nm, hall.bldg_nm, hall.hall_nm
            , CASE WHEN attend_hall.sign_dttm IS NULL THEN 0 ELSE 1 END AS is_signature
            , attend_hall.sign_dttm
            FROM attend_hall
            INNER JOIN attend ON attend_hall.attend_cd = attend.attend_cd
            INNER JOIN admission ON attend.admission_cd = admission.admission_cd
            INNER JOIN hall ON attend_hall.hall_cd = hall.hall_cd
            <where>
                <if test="param != null">
                    <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                    <if test="param.typeNm != null">AND attend.type_nm = #{param.typeNm}</if>
                    <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                    <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
                    <if test="param.headNm != null">AND hall.head_nm = #{param.headNm}</if>
                    <if test="param.bldgNm != null">AND hall.bldg_nm = #{param.bldgNm}</if>
                    <if test="param.hallNm != null">AND hall.hall_nm = #{param.hallNm}</if>
                    <if test="param.isSignature != null">
                        <if test="param.isSignature == true">AND attend_hall.sign_dttm IS NOT NULL</if>
                        <if test="param.isSignature == false">AND attend_hall.sign_dttm IS NULL</if>
                    </if>
                    <if test="param.userAdmissions != null">
                        AND attend.admission_cd IN
                        <foreach collection="param.userAdmissions" item="item" index="index" separator="," open="(" close=")">
                            #{item}
                        </foreach>
                    </if>
                </if>
            </where>
    </select>

    <!--<select id="paper" resultType="com.humane.etms.dto.StatusDto">
        SELECT
        admission.admission_nm,
        attend.type_nm,
        attend.attend_date,
        attend.attend_time,
        examinee.dept_nm,
        examinee.major_nm,
        examinee.examinee_cd,
        examinee.examinee_nm,
        examinee.birth,
        (SELECT COUNT(*) FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
        attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 1) AS paper_cnt,
        (SELECT paper_cd FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
        attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 1 ORDER BY reg_dttm ASC LIMIT 1)
        AS first_paper_cd,
        (SELECT paper_cd FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
        attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 1 ORDER BY reg_dttm DESC LIMIT 1)
        AS last_paper_cd,
        (SELECT GROUP_CONCAT(paper_cd ORDER BY reg_dttm SEPARATOR ', ') FROM attend_paper WHERE attend_paper.attend_cd =
        attend_map.attend_cd and attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 1) AS
        paper_list,
        (SELECT MAX(reg_dttm) FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
        attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 1) AS last_dttm,

        (SELECT COUNT(*) FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
        attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 2) AS paper_cnt2,
        (SELECT paper_cd FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
        attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 2 ORDER BY reg_dttm ASC LIMIT 1)
        AS first_paper_cd2,
        (SELECT paper_cd FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
        attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 2 ORDER BY reg_dttm DESC LIMIT 1)
        AS last_paper_cd2,
        (SELECT GROUP_CONCAT(paper_cd ORDER BY reg_dttm SEPARATOR ', ') FROM attend_paper WHERE attend_paper.attend_cd =
        attend_map.attend_cd and attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 2) AS
        paper_list2,
        (SELECT MAX(reg_dttm) FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
        attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 2) AS last_dttm2
        FROM attend_map
        INNER JOIN attend ON attend_map.attend_cd = attend.attend_cd
        INNER JOIN admission ON admission.admission_cd = attend.admission_cd
        INNER JOIN examinee ON attend_map.examinee_cd = examinee.examinee_cd
        INNER JOIN attend_paper ON attend_paper.attend_cd = attend.attend_cd
        INNER JOIN hall ON hall.hall_cd = attend_map.hall_cd
        <where>
            <if test="param != null">
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.typeNm != null">AND examinee.type_nm = #{param.typeNm}</if>
                <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
                <if test="param.deptNm != null">AND examinee.dept_nm = #{param.deptNm}</if>
                <if test="param.majorNm != null">AND examinee.major_nm = #{param.majorNm}</if>
                <if test="param.examineeCd != null">AND examinee.examinee_cd = #{param.examineeCd}</if>
                <if test="param.examineeNm != null">AND examinee.examinee_nm = #{param.examineeNm}</if>
                <if test="param.paperCd != null">AND
                    ( SELECT GROUP_CONCAT(paper_cd ORDER BY reg_dttm SEPARATOR ', ')
                    FROM attend_paper
                    WHERE attend_paper.attend_cd = attend_map.attend_cd
                    and attend_paper.examinee_cd = attend_map.examinee_cd
                    and attend_paper.paper_no = 1
                    ) LIKE '%' #{param.paperCd} '%'
                </if>
            </if>
        </where>
        GROUP BY
        admission.admission_nm,
        attend.type_nm,
        attend.attend_date,
        attend.attend_time,
        examinee.dept_nm,
        examinee.major_nm,
        examinee.examinee_cd,
        examinee.examinee_nm,
        examinee.birth
    </select>-->
    <select id="paper" resultType="com.humane.etms.dto.StatusDto">
        SELECT *
        FROM
            (SELECT admission.admission_nm
            , attend.type_nm
            , attend.attend_date
            , attend.attend_time
            , examinee.dept_nm
            , examinee.major_nm
            , examinee.examinee_cd
            , examinee.examinee_nm
            , date_format(examinee.birth, '%y-%m-%d') as birth
            , (SELECT COUNT(*) FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
            attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 1) AS paper_cnt
            , (SELECT paper_cd FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
            attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 1 ORDER BY reg_dttm ASC LIMIT 1)
            AS first_paper_cd
            , (SELECT paper_cd FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
            attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 1 ORDER BY reg_dttm DESC LIMIT 1)
            AS last_paper_cd
            , (SELECT GROUP_CONCAT(paper_cd ORDER BY reg_dttm SEPARATOR ', ') FROM attend_paper WHERE attend_paper.attend_cd =
            attend_map.attend_cd and attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 1) AS
            paper_list
            , (SELECT MAX(reg_dttm) FROM attend_paper WHERE attend_paper.attend_cd = attend_map.attend_cd and
            attend_paper.examinee_cd = attend_map.examinee_cd and attend_paper.paper_no = 1) AS last_dttm
            FROM attend_paper
            INNER JOIN attend ON attend.attend_cd = attend_paper.attend_cd
            INNER JOIN attend_map ON attend_map.attend_cd = attend_paper.attend_cd AND attend_map.examinee_cd = attend_paper.examinee_cd
            INNER JOIN admission ON admission.admission_cd = attend.admission_cd
            INNER JOIN examinee ON examinee.examinee_cd = attend_paper.examinee_cd
            <where>
                <if test="param != null">
                    <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                    <if test="param.typeNm != null">AND examinee.type_nm = #{param.typeNm}</if>
                    <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                    <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
                    <if test="param.deptNm != null">AND examinee.dept_nm = #{param.deptNm}</if>
                    <if test="param.majorNm != null">AND examinee.major_nm = #{param.majorNm}</if>
                    <if test="param.examineeCd != null">AND examinee.examinee_cd = #{param.examineeCd}</if>
                    <if test="param.examineeNm != null">AND examinee.examinee_nm = #{param.examineeNm}</if>
                    <if test="param.paperCd != null">AND
                        ( SELECT GROUP_CONCAT(paper_cd ORDER BY reg_dttm SEPARATOR ', ')
                        FROM attend_paper
                        WHERE attend_paper.attend_cd = attend_map.attend_cd
                        and attend_paper.examinee_cd = attend_map.examinee_cd
                        and attend_paper.paper_no = 1
                        ) LIKE '%' #{param.paperCd} '%'
                    </if>
                    <if test="param.userAdmissions != null">
                        AND attend.admission_cd IN
                        <foreach collection="param.userAdmissions" item="item" index="index" separator="," open="(" close=")">
                            #{item}
                        </foreach>
                    </if>
                </if>
            </where>
            GROUP BY
            attend.type_nm
            , attend.attend_date
            , attend.attend_time
            , examinee.dept_nm
            , examinee.major_nm
            , examinee.examinee_cd
            , examinee.examinee_nm
            , examinee.birth
            ) AS result
            WHERE paper_cnt > 1
    </select>

    <select id="detail" resultType="com.humane.etms.dto.StatusDto">
        SELECT
        examinee.examinee_cd,
        examinee.examinee_nm,
        examinee.dept_nm,
        hall.bldg_nm,
        hall.hall_nm,
        attend_paper.paper_cd,
        attend_paper.paper_no,
        concat(attend.attend_date,' ',attend.attend_time) as attend_d_t,
        attend_paper.reg_dttm
        FROM attend_paper
        INNER JOIN attend ON attend.attend_cd = attend_paper.attend_cd
        INNER JOIN hall ON hall.hall_cd = attend_paper.hall_cd
        INNER JOIN examinee ON examinee.examinee_cd = attend_paper.examinee_cd
        <where>
            <if test="param!=null">
                <if test="param.examineeCd != null">examinee.examinee_cd = #{param.examineeCd}</if>
                <if test="param.userAdmissions != null">
                    AND attend.admission_cd IN
                    <foreach collection="param.userAdmissions" item="item" index="index" separator="," open="(" close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
        </where>
    </select>

    <update id="checkIdCard">
        UPDATE attend_map
           SET id_check_dttm = #{idCheckDttm}
         WHERE examinee_cd = #{examineeCd}
    </update>
    <update id="recheck">
        UPDATE attend_map
        SET recheck_dttm = #{recheckDttm}
        WHERE examinee_cd = #{examineeCd}
    </update>

</mapper>