<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.humane.etms.mapper.StatusMapper">
    <select id="all" resultType="com.humane.etms.dto.StatusDto">
        SELECT
            COUNT(*)                                                       AS examinee_cnt,
            COUNT(attend_map.attend_hall_cd)                               AS attend_cnt,
            COUNT(*) - COUNT(attend_map.attend_hall_cd)                    AS absent_cnt,
            COUNT(attend_map.attend_hall_cd) * 100 / COUNT(*)              AS attend_per,
            (COUNT(*) - COUNT(attend_map.attend_hall_cd)) * 100 / COUNT(*) AS absent_per
        FROM attend_map
    </select>

    <select id="attend" resultType="com.humane.etms.dto.StatusDto">
        SELECT
        admission.admission_nm,
        attend.type_nm,
        attend.attend_date,
        attend.attend_time,
        COUNT(*) AS examinee_cnt,
        COUNT (attend_map.attend_hall_cd) AS attend_cnt,
        COUNT (attend_map.attend_hall_cd) * 100 / COUNT (*) AS attend_per,
        COUNT (*) - COUNT (attend_map.attend_hall_cd) AS absent_cnt,
        ( COUNT (*) - COUNT (attend_map.attend_hall_cd)) * 100 / COUNT (*) AS absent_per
        FROM
        attend_map
        INNER JOIN attend ON attend.attend_cd = attend_map.attend_cd
        INNER JOIN admission ON admission.admission_cd = attend.admission_cd
        <where>
            <if test="param != null">
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.typeNm != null">AND attend.type_nm = #{param.typeNm}</if>
                <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
            </if>
        </where>
        GROUP BY
        admission.admission_nm,
        attend.type_nm,
        attend.attend_date, attend.attend_time
    </select>

    <select id="dept" resultType="com.humane.etms.dto.StatusDto">
        SELECT
        admission.admission_nm,
        attend.type_nm,
        attend.attend_date,
        attend.attend_time,
        examinee.dept_nm,
        COUNT(*) AS examinee_cnt,
        COUNT (attend_map.attend_hall_cd) AS attend_cnt,
        COUNT (attend_map.attend_hall_cd) * 100 / COUNT (*) AS attend_per,
        COUNT (*) - COUNT (attend_map.attend_hall_cd) AS absent_cnt,
        ( COUNT (*) - COUNT (attend_map.attend_hall_cd)) * 100 / COUNT (*) AS absent_per
        FROM
        attend_map
        INNER JOIN attend ON attend.attend_cd = attend_map.attend_cd
        INNER JOIN admission ON admission.admission_cd = attend.admission_cd
        INNER JOIN examinee ON examinee.examinee_cd = attend_map.examinee_cd
        <where>
            <if test="param != null">
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.typeNm != null">AND attend.type_nm = #{param.typeNm}</if>
                <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
                <if test="param.deptNm != null">AND examinee.dept_nm = #{param.deptNm}</if>
            </if>
        </where>
        GROUP BY
        admission.admission_nm,
        attend.type_nm,
        attend.attend_date,
        attend.attend_time,
        examinee.dept_nm
    </select>

    <select id="major" resultType="com.humane.etms.dto.StatusDto">
        SELECT
        admission.admission_nm,
        attend.type_nm, attend.attend_date, attend.attend_time,
        examinee.dept_nm, examinee.major_nm,
        COUNT(*) AS examinee_cnt,
        COUNT (attend_map.attend_hall_cd) AS attend_cnt,
        COUNT (attend_map.attend_hall_cd) * 100 / COUNT (*) AS attend_per,
        COUNT (*) - COUNT (attend_map.attend_hall_cd) AS absent_cnt,
        ( COUNT (*) - COUNT (attend_map.attend_hall_cd)) * 100 / COUNT (*) AS absent_per
        FROM
        attend_map
        INNER JOIN attend ON attend.attend_cd = attend_map.attend_cd
        INNER JOIN admission ON admission.admission_cd = attend.admission_cd
        INNER JOIN examinee ON examinee.examinee_cd = attend_map.examinee_cd
        <where>
            <if test="param != null">
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.typeNm != null">AND attend.type_nm = #{param.typeNm}</if>
                <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
                <if test="param.deptNm != null">AND examinee.dept_nm = #{param.deptNm}</if>
                <if test="param.majorNm != null">AND examinee.major_nm = #{param.majorNm}</if>
            </if>
        </where>
        GROUP BY
        admission.admission_nm,
        attend.type_nm, attend.attend_date, attend.attend_time,
        examinee.dept_nm, examinee.major_nm
    </select>

    <select id="hall" resultType="com.humane.etms.dto.StatusDto">
        SELECT *
        , (examinee_cnt - to_other_cnt + from_other_cnt) AS current_cnt
        , (A + from_other_cnt) AS attend_cnt
        , (A + from_other_cnt) * 100 / (examinee_cnt - to_other_cnt + from_other_cnt)  AS attend_per
        , (examinee_cnt - to_other_cnt + from_other_cnt) - (A + from_other_cnt) AS absent_cnt
        , 100 - ((A + from_other_cnt) * 100 / (examinee_cnt - to_other_cnt + from_other_cnt)) AS absent_per
        FROM
        (SELECT admission.admission_nm
        , attend.type_nm, attend.attend_date, attend.attend_time
        , hall.head_nm, hall.bldg_nm, hall.hall_nm
        , (SELECT COUNT(*) FROM attend_map WHERE attend_map.attend_cd = attend.attend_cd AND attend_map.hall_cd = hall.hall_cd) AS examinee_cnt
        , (SELECT COUNT(*) FROM attend_map WHERE attend_map.attend_cd = attend.attend_cd AND attend_map.hall_cd = hall.hall_cd AND attend_map.hall_cd = attend_map.attend_hall_cd) AS A
        , (SELECT COUNT(*) FROM attend_map WHERE attend_map.attend_cd = attend.attend_cd AND attend_map.attend_hall_cd = hall.hall_cd AND attend_map.hall_cd != attend_map.attend_hall_cd) AS from_other_cnt
        , (SELECT COUNT(*) FROM attend_map WHERE attend_map.attend_cd = attend.attend_cd AND attend_map.hall_cd = hall.hall_cd AND attend_map.hall_cd != attend_map.attend_hall_cd) AS to_other_cnt
        FROM attend_hall
        INNER JOIN attend ON attend.attend_cd = attend_hall.attend_cd
        INNER JOIN admission ON admission.admission_cd = attend.admission_cd
        INNER JOIN hall ON hall.hall_cd = attend_hall.hall_cd
        <where>
            <if test="param != null">
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.typeNm != null">AND attend.type_nm = #{param.typeNm}</if>
                <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
                <if test="param.headNm != null">AND hall.head_nm = #{param.headNm}</if>
                <if test="param.bldgNm != null">AND hall.bldg_nm = #{param.bldgNm}</if>
                <if test="param.hallNm != null">AND hall.hall_nm = #{param.hallNm}</if>
            </if>
        </where>
        ) AS result
    </select>

    <select id="group" resultType="com.humane.etms.dto.StatusDto">
        SELECT
        admission.admission_nm,
        attend.type_nm,
        attend.attend_date,
        attend.attend_time,
        examinee.major_nm,
        attend_map.group_nm,
        hall.head_nm,
        hall.bldg_nm,
        hall.hall_nm,
        COUNT(*) AS examinee_cnt,
        COUNT (attend_map.attend_hall_cd) AS attend_cnt,
        COUNT (attend_map.attend_hall_cd) * 100 / COUNT (*) AS attend_per,
        COUNT (*) - COUNT (attend_map.attend_hall_cd) AS absent_cnt,
        ( COUNT (*) - COUNT (attend_map.attend_hall_cd)) * 100 / COUNT (*) AS absent_per
        FROM
        attend_map
        INNER JOIN attend ON attend.attend_cd = attend_map.attend_cd
        INNER JOIN admission ON admission.admission_cd = attend.admission_cd
        INNER JOIN examinee ON examinee.examinee_cd = attend_map.examinee_cd
        INNER JOIN hall ON hall.hall_cd = attend_map.hall_cd
        <where>
            <if test="param != null">
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.typeNm != null">AND attend.type_nm = #{param.typeNm}</if>
                <if test="param.attendDate != null">AND attend.attend_date = #{param.attendDate}</if>
                <if test="param.attendTime != null">AND attend.attend_time = DATE_FORMAT(#{param.attendTime}, '%T')</if>
                <if test="param.majorNm != null">AND examinee.major_nm = #{param.majorNm}</if>
                <if test="param.groupNm != null">AND attend_map.group_nm LIKE '%' #{param.groupNm} '%'</if>
                <if test="param.headNm != null">AND hall.head_nm = #{param.headNm}</if>
                <if test="param.bldgNm != null">AND hall.bldg_nm = #{param.bldgNm}</if>
                <if test="param.hallNm != null">AND hall.hall_nm = #{param.hallNm}</if>
            </if>
        </where>
        GROUP BY
        admission.admission_nm,
        attend.type_nm,
        attend.attend_date,
        attend.attend_time,
        attend_map.group_nm,
        hall.head_nm,
        hall.bldg_nm,
        hall.hall_nm,
        examinee.major_nm
    </select>
</mapper>
